
@{

}
@section links{
    <style>

    </style>
}
 
<div class="container">
    <div><i class="fa fa-success"></i>&nbsp; 修改密码成功!!!</div>
    <a href="~/Customer/Home/CustomerLogin?bForceLogin=True">重新登陆</a>
    <a >回到健康监控台</a> |
    <a href="/Customer/Home/MyReservationList">回到我的预约</a>
</div>



@section scripts{
 
}
