
@{
}

@section links{
    <style>
        ul,li{
            margin:0px;
            padding:0px;
            list-style:none;
        }
        .panel-body ul li{
            text-align:left;
        }
        .panel * {
            font-size: 13px;
            letter-spacing: 2px;
        }
        .text_left {
            text-align: left;
            
        }
        .panel-body {
            padding: 15px 8px;
        }
    </style>
  

}
<ol class="breadcrumb">
    <li><a href="#">个人中心</a></li>
    <li><a href="#">电子病例</a></li>
    <li><a href="#">病例详情</a></li>
</ol>
<p class="text-primary"><span class="fa-calendar text-primary"></span> 2017-12-15 <span class="text-muted">内科 - 朱医生</span><a href="#" class="pull-right">返回列表</a></p>
<div class="panel panel-default">
    <div class="panel-heading text_left" style="padding: 0 15px;"><span><span class="glyphicon glyphicon-user"></span> 基本资料</span></div>
    <div class="panel-body">
        <ul>
            <li class="col-md-4"><b>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</b>冯吉祥</li>
            <li class="col-md-4"><b>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</b>男 </li>
            <li class="col-md-4"><b>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：</b>26 </li>
            <li class="col-md-5"><b>工作单位：</b>东莞市天使健康信息科技有限公司</li>
            <li class="col-md-7"><b>家庭地址：</b>东莞市松山湖天使健康</li>
            <li class="col-md-12"><b>药物过敏：</b><span class="label label-danger" >吃饭</span>  <span class="label label-danger">海鲜</span></li>
        </ul>
    </div> 
 </div>
<div class="panel panel-default">
    <div class="panel-heading text_left" style="padding: 0 15px;"><span class="glyphicon glyphicon-list-alt"></span> 就诊记录</div>
    <div class="panel-body">
        <ul>
            <li class="col-md-12"><b>主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;诉：</b> 头疼三日</li>
            <li class="col-md-12"><b>现&nbsp;病&nbsp;史：</b> 男</li>
            <li class="col-md-12"><b>既&nbsp;往&nbsp;史：</b> <span class="label label-danger">高血压</span> <span class="label label-danger">糖尿病</span></li>
            <li class="col-md-12"><b>诊&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;断：</b> 发热感冒</li>
            <li class="col-md-12"><b>处&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置：</b> 按时吃饭喝水</li>
            <li class="col-md-12"><b>处&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;理：</b> 打针吊水</li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading text_left" style="padding: 0 15px;"><span class="glyphicon glyphicon-tasks"></span> 体检数据</div>
    <div class="panel-body">
        <ul>
            <li class="col-md-4"><b>身&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高：</b> 180cm</li>
            <li class="col-md-4"><b>体&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重：</b> 57kg</li>
            <li class="col-md-4"><b>体重指数：</b> 26<span class="glyphicon glyphicon-question-sign text-primary pull-right" style="font-size:20px;margin-top:6px;"></span></li>
            <li class="col-md-4"><b>体检血压：</b> 80-127mmHg<span class="glyphicon glyphicon-question-sign text-primary pull-right" style="font-size:20px;margin-top:6px;"></span></li>
            <li class="col-md-4"><b>脉&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;搏：</b> 84次/分<span class="glyphicon glyphicon-question-sign text-primary pull-right" style="font-size:20px;margin-top:6px;"></span></li>
            <li class="col-md-4"><b>体&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;温：</b> 36.6℃<span class="glyphicon glyphicon-question-sign text-primary pull-right" style="font-size:20px;margin-top:6px;"></span></li>
            <li class="col-md-4"><b>腰&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;围：</b> 56cm<span class="glyphicon glyphicon-question-sign text-primary pull-right" style="font-size:20px;margin-top:6px;"></span></li>
            <li class="col-md-4"><b>臀&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;围：</b> 86cm<span class="glyphicon glyphicon-question-sign text-primary pull-right" style="font-size:20px;margin-top:6px;"></span></li>
            <li class="col-md-4"><b>腰&nbsp;臀&nbsp;比：</b> 65<span class="glyphicon glyphicon-question-sign text-primary pull-right" style="font-size:20px;margin-top:6px;"></span></li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading text_left" style="padding: 0 15px;"><span class="glyphicon glyphicon-list"></span> 药品详情</div>
    <div class="panel-body">
        <ul>
            <li class="col-md-6"><b>名称</b></li>
            <li class="col-md-2"><b>规格</b></li>
            <li class="col-md-2"><b>单价</b></li>
            <li class="col-md-2"><b>数量</b></li>
        </ul>
        <ul>
            <li class="col-md-6">阿奇霉素</li>
            <li class="col-md-2">10μ/pec</li>
            <li class="col-md-2"><span class="text-danger">￥10.00</span></li>
            <li class="col-md-2">x1</li>
        </ul>
        <ul>
            <li class="col-md-6">阿奇霉素</li>
            <li class="col-md-2">10μ/pec</li>
            <li class="col-md-2"><span class="text-danger">￥10.00</span></li>
            <li class="col-md-2">x1</li>
        </ul>
        <ul>
            <li class="col-md-6">阿奇霉素</li>
            <li class="col-md-2">10μ/pec</li>
            <li class="col-md-2"><span class="text-danger">￥10.00</span></li>
            <li class="col-md-2">x1</li>
        </ul>
    </div>
</div>



    @section scripts{

    }
