@{ Layout = null;}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>用户登录-个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="天使健康个人中心">
    <meta name="author" content="">
    <!-- CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .form-bottom {
            background: #fff none repeat scroll 0 0;
            border-radius: 10px;
            padding: 35px 35px 30px;
            position: relative;
            text-align: left;
        }

        .form-group {
            position: relative;
        }

        .form-group input {
            padding-left: 15px;
        }

        .center {
            float: none !important;
            left: 50%;
            margin: auto;
            position: absolute;
            top: 40%;
            transform: translate(-50%, -50%);
        }

        .form-control {
            height: 50px;
        }

        input {
            padding: 0 2%;
            background: #2d2d2d; /* browsers that don't support rgba */
            background: rgba(45, 45, 45, .15);
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            border: 1px solid #3d3d3d; /* browsers that don't support rgba */
            border: 1px solid rgba(255, 255, 255, .15);
            -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
            -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
            font-family: 'PT Sans', Helvetica, Arial, sans-serif;
            font-size: 13px;
            color: #fff;
            -o-transition: all .2s;
            -moz-transition: all .2s;
            -webkit-transition: all .2s;
            -ms-transition: all .2s;
        }

        .form-control-feedback {
            left: 0;
            top: 5px;
            line-height: 42px;
        }

        button.btn, a.btn {
            background: #1276c1 none repeat scroll 0 0;
            border: 1px solid #2e6da4;
            border-radius: 4px;
            color: #fff;
            font-weight: 300;
            height: 50px;
            line-height: 50px;
            margin: 0;
            padding: 0 20px;
            text-shadow: none;
            transition: all 0.3s ease 0s;
            vertical-align: middle;
        }

        button.btn:hover, a.btn:hover {
            background: #0f64a4 none repeat scroll 0 0;
            box-shadow: none;
        }

        .title {
            color: #0f64a4;
            font-size: 1.1em;
            font-weight: bold;
            left: -10px;
            margin-bottom: 1px;
            margin-left: -5px;
            margin-top: -15px;
            position: relative;
        }

        .title-line {
            margin-left: -35px;
            margin-right: -35px;
            margin-top: 15px;
        }
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if (top != self) top.location = "/Home/Login"; //如果需要登录，就必须刷新到整个最外层框架去
    </script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-6 col-md-4 center" style="overflow:visible!important;">
                <form role="form" action="" method="post" class="form-horizontal">

                    <div class="form-bottom">
                        <div class="title">
                            重设用户密码
                        </div>
                        <hr class="title-line" />
                        <div class="form-group">
                            <label class="sr-only">手机号码</label>
                            <input type="text" id="moblie" class="form-first-name form-control" style="font-family:'微软雅黑';" placeholder="请输入手机号码">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">新密码</label>
                            <input type="password" name="password" placeholder="请设置新密码"
                                   class="form-control" id="password" style="font-family:'微软雅黑';">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-last-name">密码</label>
                            <input type="password" name="password" placeholder="确认新密码"
                                   class="form-control" id="rePassword" style="font-family:'微软雅黑';">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="必须输入验证码" id="mobCode">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="getSmsTime(this);">获取验证码</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn_primary_dap" style="width:100%; font-size:15px; font-weight:700; color:#fff;" onclick="retrievePassword()">
                                <h5 class="fontStyle">完成</h5>
                            </button>
                        </div>
                        <div class="form-group">
                            <a asp-action="CustomerLogin">已有账号，马上去登录</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/third-part-library/jquery.backstretch.min.js"></script>
    <script src="~/lib/layer/build/layer.js"></script>
    <script src="~/js/common-project.js"></script>
    <script src="~/js/common-function.js"></script>
    <script>
        $(function () {
            //设置全屏背景
            $.backstretch("/images/web_bg.jpg");
            $('#byValDispaly').hide();//默认的情况下隐藏input
            $('#top-navbar-1').on('shown.bs.collapse', function () {
                $.backstretch("resize");
            });
            $('#top-navbar-1').on('hidden.bs.collapse', function () {
                $.backstretch("resize");
            });

        });
        //找回密码
        function retrievePassword() {
            var d = {
                moblie: $("#moblie").val(),
                password: $("#password").val(),
                mobCode: $("#mobCode").val(),
                rePassword: $("#rePassword").val()
            };
            $.loadJSON("/Customer/Home/CustEditPWD", d, function (jn) {
                if (jn.rlt) {
                    $.alertMsg(jn.msg);
                    self.location = 'CustomerLogin';
                } else $.alertError(jn.msg);
            })

        }
        function isPhoneNo(val) {
            return /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/.test(val);
        }
        //获取短信验证码
        //获取短信验证
        function getSmsTime(o) {
            var str = "";
            var wait = 60;
            var phonenum = $("#moblie").val();
            if (phonenum != null) {

                if ($.trim(phonenum).length == 0) {
                    str = '手机号没有输入\n';
                    $.alertMsg(str);
                    $('#moblie').focus();
                } else {
                    if (isPhoneNo($.trim(phonenum)) == false) {
                        str = '手机号码不正确\n';

                        $.alertMsg(str);
                        $('#moblie').focus();
                    } else {
                        o.setAttribute("disabled", true);
                        $.getJSON("/Customer/Home/Json_SendMobCode", { mob: phonenum }, function (jn) {
                            if (jn.rlt) {
                                var tid = setInterval(function () {
                                    o.value = "重新发送(" + wait + ")";
                                    wait--;
                                    if (wait < 0) {
                                        clearInterval(tid);
                                        o.removeAttribute("disabled");
                                        o.value = "免费获取验证码";
                                        wait = 60;
                                    }
                                }, 1000);
                            } else {
                                //如果错误
                            }
                        });
                    }

                }

            }

        }
    </script>

</body>

</html>
