/ah/bin
/ah/obj
/ah.DbContext/bin
/ah.DbContext/obj
/ah.Models/bin
/ah.Models/obj
/ah.Models.SysAuto/bin
/ah.Models.SysAuto/obj
/Ass/bin
/Ass/obj
/AssBase/bin
/AssBase/obj
/ahWeb/bin
/ahWeb/obj
/.vs
/ah.CustomerWeb/bin
/ah.CustomerWeb/obj
/ah.Res/obj
/ah.Res/bin
/ah.CustomerWeb/Areas/Customer/Controllers/Home/JzTestController.cs
/WeChatService/bin
/WeChatService/obj
/ah.CustomerWeb/App_Data/WeixinTraceLog
/WeChatService/obj/Debug
/ah.CustomerWeb/App_Data/MP
/ah.sln.DotSettings.user
