body{font-size:14px;}
input {
    outline: none;
    -webkit-appearance: none;
}
select::-ms-expand{display:none}
select{appearance:none;-moz-appearance:none;-webkit-appearance:none;
       background:url(/images/arrow.png) no-repeat scroll right center transparent;padding-right:25px!important;background-position-x:99%}
input{-webkit-appearance:none}
.wrap{background-image:url(../../../images/web_bg.jpg);background-size:cover;position:absolute;top:0;bottom:0;left:0;right:0;display:flex;align-items:center;justify-content:center;min-height:600px}

.wrap-main{height:auto;background:#fff;padding:10px;display:flex;flex-direction:column;border-radius:3px;-webkit-box-shadow:3px 3px 3px #5f5f5f99;-moz-box-shadow:3px 3px 3px #5f5f5f99;box-shadow:3px 3px 3px #5f5f5f99}
.wrap-logo{text-align:center}
.wrap-logo img{width:81px;height:41px;margin-top:30px}
.wrap-logo p{margin-top:15px;font-size:20px;font-weight:800;color:#1276c1;vertical-align:middle}

.station-items-wrap{padding:10px 0;display:flex;justify-content:center;position:relative;align-items:center}
.station-items{border-radius:1px;cursor:pointer;box-sizing:border-box;display:flex;flex-direction:column;color:#fff;user-select:none;margin:0 10px 63px 10px;height:374px;width:374px;position:relative;-webkit-transition:all .2s linear;transition:all .2s linear}
.station-items .station-content{flex:1;position:absolute;bottom:-35px;left:0;margin:10px;right:0;text-align:center;border-radius:3px;top:0;display:flex;flex-direction:column;justify-content:flex-end;-webkit-transition:all .2s linear;transition:all .2s linear}
.station-items .station-content:hover{border:1px solid #fff;-webkit-box-shadow:0 15px 30px rgba(0,0,0,.1);box-shadow:0 15px 30px rgba(0,0,0,.1);-webkit-transform:translate3d(0,-2px,0);transform:translate3d(0,-2px,0)}
.station-items .station-content:hover .station-content-wrap{background-color:#fff;}
.station-items .station-content-wrap{background-color:rgba(255, 255, 255, 0.6);padding:10px;box-shadow:0 0 30px rgba(0,0,0,.2);-moz-box-shadow:0 0 30px rgba(0,0,0,.2);-webkit-box-shadow:0 0 30px rgba(0,0,0,.2);-webkit-transition:all .2s linear;transition:all .2s linear}
.station-items .station-name{font-size:14px;font-weight:700;color:#666}
.station-items .station-address{font-size:12px;margin-bottom:8px;height:20px;color:#666}
.station-page-l{display:none;text-align:center;font-size:18px;color:#fff;cursor:pointer;position:absolute;height:90%;background:rgba(0,0,0,.3);width:50px;line-height:40px;text-align:center;left :0;top:5%;padding-top:40%; z-index:99;-webkit-transition:all .2s linear;transition:all .2s linear}
.station-page-r{display:none;text-align:center;font-size:18px;color:#fff;cursor:pointer;position:absolute;height:90%;background:rgba(0,0,0,.3);width:50px;line-height:40px;text-align:center;right:0;top:5%;padding-top:40%; z-index:99;-webkit-transition:all .2s linear;transition:all .2s linear}
i[role-name=fpage]:hover{background:#22a88f;}
.station-items img{height:100%;width:100%;position:absolute}
.station-items span.station-img{width:100%;height:100%;position:absolute;display:block;background-size:cover;}

.search-input-group{}
.search-input-group .flex-input{border-color:#22a88f;border-right:none;border-top-right-radius:0px;border-bottom-right-radius:0;
                                background-color:rgba(34, 168, 143, 0.18);font-size:16px;color:#22a88f;
}
.search-input-group .flex-input:focus{background-color:#fff;}
.search-input-group .flex-btn{ border-top-left-radius:0;border-bottom-left-radius:0;margin-left:0;height:40px; }
.search-input-group .flex-btn:hover{background-color:#0a967c;}

.toMap {
    width: 35px !important;
    height: 35px !important;
    position: unset !important;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid rgba(237, 253, 250, 0);
}
.toFollow {
    font-size: 20px;
    color: #60c1a6;
    width: 35px !important;
    height: 35px !important;
    position: unset !important;
    line-height: 35px;
    border-radius: 3px;
    border: 1px solid rgba(237, 253, 250, 0);
}
.toMap:hover{border:1px solid #22a88f;}
.toFollow:hover{border:1px solid #22a88f;}
div.toMap{width:0!important;padding:0!important;border:none;}
#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.map-return {
    position: absolute;
    bottom: 5px;
    color: #fff !important;
    background: #22a88f;
    padding: 4px 17px;
    border-radius: 7px;
    right: 5px;
    cursor: pointer;
    text-decoration: none;
}
.app_step1 .map-return {
    position: absolute;
    bottom: 5px;
    color: #fff !important;
    background: #22a88f;
    padding: 4px 17px;
    border-radius: 7px;
    right: 5px;
    cursor: pointer;
    text-decoration: none;
}
.app_step1 .station-items {
    width: 100%;
    height: 135px;
    margin: 0 0 20px 0px;
}
.app_step1 .station-items .station-address {
    margin-bottom:0;
}
.app_step1 .station-items .station-content-wrap {
    border-radius: 3px;
    background: rgba(249, 246, 246, 0.9);
    display:flex;
}
.app_step1 .station-items .station-content {
    bottom: 0px;
} 
.wrap-data {
    padding: 10px 10px
}
.input-wrap{position:relative;display:flex;align-items:center}
.flex-btn{margin-left:10px;background:#22a88f;color:#fff;border-radius:4px;border:none;height:39px;padding:0 10px;margin-bottom:10px}
.flex-label{color:#666;font-weight:unset;margin-right:10px;margin-bottom:10px;cursor:pointer}
.flex-label .iradio_flat-green{margin-right:5px}
.flex-input{flex:1;height:40px;border:none;color:#666;padding:0 10px;border-radius:3px;border:1px solid #d9d9d9;margin-bottom:10px}
.data-icon{background-repeat:no-repeat;background-position-x:right;background-position-y:center}
.input-wrap .input-icon{position:absolute;width:20px;left:2px;top:10px}
.return-btn{background:#74b6aa;color:#fff;border-radius:4px;border:none;padding:0 10px;height:40px}
.sub-btn{flex:1;background:#22a88f;color:#fff;border-radius:4px;border:none;margin-left:8px;height:40px}
.app-wrap{padding:10px;flex:1;overflow-y:auto}

.appointment-user-items-wrap{padding:10px 10px 0 10px;border-radius:3px;border:1px solid #d9d9d9;margin-bottom:10px;display:none}
.step1{display:block}
.step2{display:none;width:600px;}
.step3 {display:none;width:600px;}
.app_step2{display:none;width:100%;}
h1{margin:0}
.can-hide{display:none}
button[disabled]{cursor:not-allowed;background-color:#888}
.u-item .uname{font-weight:700;color:#22a88f;font-size:1.2em}
.u-item s{margin:0 10px;text-decoration:none}
.u-item s:before{content:"(";margin-right:3px}
.u-item s::after{content:")";margin-left:3px}
.u-item i{margin:0 8px}
.read-only input[readonly]{border:1px solid transparent;font-size:1.15em;color:#22a88f;cursor:none;font-weight:bold;}
.can-resv{color:#22a88f}
.can-resv b{font-size:1.4em;margin:0 5px;color:#228b22}
.not-resv{color:red}
.resv-status{justify-content:flex-end}
.wrap-logo{position:relative}
.pc-linknav{position:absolute;right:8px;top:8px}


@media screen and (max-width:800px){
    .step1,.step2{width:100%;height:100%}
    .wrap{min-height:unset}
    .wrap-main{width:100%;height:100%;border-radius:0;-webkit-box-shadow:unset;-moz-box-shadow:unset;box-shadow:unset;padding:0}
    .wrap-data{background:#fff}
}

.can-resv {
    color: #22a88f;
}

.can-resv b {
    font-size: 1.4em;
    margin: 0 5px;
    color: forestgreen;
}

.not-resv {
    color: red;
}

.resv-status {
    justify-content: flex-end;
}

.wrap-logo {
    position: relative;
}

.pc-linknav {
    position: absolute;
    right: 8px;
    top: 8px;
}




@media screen and (max-width:800px) {

    .step1, .step2 {
        width: 100%;
        height: 100%;
    }

    .wrap {
        min-height: unset;
    }

    .wrap-main {
        width: 100%;
        height: 100%;
        border-radius: 0;
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        box-shadow: unset;
        padding: 0;
    }

    .wrap-data {
        background: #fff;
    }
}
.allDoctor-show {cursor: pointer; color: #22a88f; border-radius: 4px; border: none;padding: 0 10px;margin-bottom: 12px;font-size: 12px;}

.Appointment-Select-Doctor{background:#f5f5f5;margin:0;padding:0 10px;display:flex;flex-wrap:wrap;align-items:flex-start}
.Appointment-Select-Doctor-tips{padding: 10px 20px 0;color: #a7a7a7;font-size: 12px;}
.Appointment-Select-Doctor li{-webkit-transition: all .2s linear;transition: all .2s linear;cursor:pointer;padding:10px;text-decoration:none;list-style:none;background:#fff;color:#666;align-items:center;position:relative;width:19%;margin-bottom:20px;margin-right:8px}
.Appointment-Select-Doctor li:hover{-webkit-transform:translate3d(0,-2px,0);transform:translate3d(0,-2px,0);-webkit-box-shadow:0 10px 20px rgba(0,0,0,.1);box-shadow:0 10px 20px rgba(0,0,0,.1)}
.Appointment-Select-Doctor li div{flex:1;display:flex;flex-direction:column;width:100%;height:140px}
.Appointment-Select-Doctor li img{width:100%;border-radius:3px;align-self:baseline;margin:15px auto 5px}
.Appointment-Select-Doctor li .doctorName{font-size:14px;color:#22a88f;height:24px}
.Appointment-Select-Doctor li .doctorName span{font-size:12px;margin-left:12px;font-weight:unset;color:#c87474}
.Appointment-Select-Doctor li .rmk{flex:1;color:#898989;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;overflow:hidden;font-size:12px;line-height:23px;}
.Appointment-Select-Doctor-app{background:#f5f5f5;height:100%;margin:0;padding:10px;display:flex;flex-wrap:wrap;align-items:flex-start;flex-direction:column}
.Appointment-Select-Doctor-app li{padding:10px;text-decoration:none;list-style:none;background:#fff;color:#666;align-items:center;position:relative;width:100%;margin-bottom:10px;display:flex}
.Appointment-Select-Doctor-app li img{width:61px;border-radius:3px;align-self:baseline;margin-right:10px}
.Appointment-Select-Doctor-app li div{flex:1;display:flex;flex-direction:column;width:100%}
.Appointment-Select-Doctor-app li .doctorName{font-weight:700;font-size:16px;color:#22a88f;height:30px}
.Appointment-Select-Doctor-app li .doctorName span{font-size:14px;margin-left:12px;font-weight:unset;color:#c87474}
.Appointment-Select-Doctor-app li .rmk{flex:1;color:#898989;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;overflow:hidden}
.Appointment-Select-Doctor-stop li{cursor: no-drop;}



.AllDoctor-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.AllDoctor-search {
    background: #22a88f;
    height: 50px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex: none;
}
.AllDoctor-search form{width:100%}
.AllDoctor-search input{padding:5px 14px;border:0;border-radius:4px;height:30px;width:100%;font-size:12px;color:#a4a2a2}
.AllDoctor-search a{color:#fff;text-decoration:none;width:100px;text-align:center;height:30px;line-height:30px;border-radius:4px;margin-left:10px;border:1px solid #fff}
.AllDoctor-items {
    background: #f5f5f5;
    flex: 1 1 auto;
    overflow: auto;
}
.AllDoctor-items ul{margin:0;padding:0 6px;height:100%}
.AllDoctor-items ul .doctor-li{min-height:92px;padding:10px;list-style:none;background:#fff;border-bottom:1px solid #eaeaea;display:flex}
.AllDoctor-items ul .doctor-li img{width:67px;border-radius:8px;margin-right:10px;align-self:baseline;margin-top:2px}
.AllDoctor-items ul .doctor-li div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.AllDoctor-items ul .doctor-li .doctorName{color:#22a88f;font-size:16px;margin-top:7px;font-weight:700}
.AllDoctor-items ul .doctor-li .doctorName span{font-size:12px;color:#e06060;margin-left:5px}
.AllDoctor-items ul .doctor-li .rmk {
    color: #9c9c9c;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.AllDoctor-items ul .doctor-li .rmk div {
    flex: 1 1 auto;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.AllDoctor-items ul .doctor-li .rmk span {
    display: block;
    flex: none;
    background: #22a88f;
    color: #fff;
    padding: 2px 13px;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 10px;
}
.AllDoctor-items .not-data{display:flex;align-items:center;justify-content:center;position:absolute;top:50px;color:#666;bottom:0;left:0;right:0}



.app-search-wrap {
    display: none;
    flex: none;
    position: relative;
    background: #22a88f;
    height: 50px;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
}
.app-search-wrap .search-input {
    padding: 5px 14px;
    border: 0;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    font-size: 12px;
    color: #a4a2a2;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.app-search-wrap a {
    color: #fff;
    text-decoration: none;
    width: 100px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    margin-left: 10px;
    border: 1px solid #fff;
}
.app-search-wrap a.cancel {
    margin: 0;
    margin-right: 10px;
    border: 1px solid #22a88f;
    width: 50px;
} 
.app-search-wrap a:hover {
    border: 1px solid #13846f;
    background: #13846f;
}
.app-search-more {
    background:#fff;
    position: absolute;
    top: 50px;
    z-index: 99;
    bottom: initial;
    width: 100%;
    display: none;
    padding: 5px 10px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.app-search-more ul {
    margin:0;
}
.app-search-more ul li {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
}
.app-search-more ul li .title, .index-search-items .title {
    border-bottom: 1px solid #22a88f;
    color: #22a88f;
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 10px;
    display: none;
}
.app-search-more ul li .main, .index-search-items .main {
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    flex: none;
}
.index-search-items .item {
    display: flex;
    width: 1182px;
}
.index-search-items .main {
    height: 374px;
    width: 374px;
    position: relative;
    margin: 25px 10px 63px 10px;
    cursor:pointer;
}
.index-search-items .main:hover > .text {
    background-color: #fff;
    bottom:-13px;
}
.index-search-items .border {
    border: 1px solid rgba(248, 248, 248, 0);
}
.index-search-items .main:hover > .border {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 11px;
    border: 1px solid #fff;
    z-index: 1;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.index-search-items .pic {
    background-repeat: no-repeat;
    flex: none;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-size: cover;
}
.app-search-more ul li .pic{
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin-right: 12px;
    flex: none;
}
.app-search-more ul li .text{
    color: #666;
    flex: 1 1 auto;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    flex-direction: column;
    justify-content: center;

}
.index-search-items .text {
    color: #666;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 30px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,.2);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    position: absolute;
    bottom: -31px;
    left: 10px;
    right: 10px;
    min-height: 100px;
    text-align: center;
    z-index: 2;
}
.app-search-more ul li .active, .index-search-items .active {
    margin-top: 5px;
}
.app-search-more ul li .active span ,.index-search-items .active span{
    float: right;
    background: #22a88f;
    color: #fff;
    padding: 2px 13px;
    font-size: 12px;
    border-radius: 3px;
}
.index-search-items .active span{
    display:none;
}
.index-search-items .station-name {
    font-size: 14px;
    font-weight: 700;
    color: #666;
}
.index-search-items .station-name i {
    font-size: 16px;
    color: #22a88f;
    width: 30px;
    text-align: right;
}
.ah-appointmert-wrap {
    height: auto;
    background: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 3px #5f5f5f99;
    -moz-box-shadow: 3px 3px 3px #5f5f5f99;
    box-shadow: 3px 3px 3px #5f5f5f99;
}
.index-appointment-info {
    width: 600px;
}
.index-search-items #pager {
    flex: none;
    height: 45px;
}
.pc-search-wrap {
    display:none;
    position: absolute;
    right: 10px;
    bottom: 14px;
}
.pc-search-wrap input {
    border: 1px solid #ccc;
    padding: 0 5px;
    border-radius: 3px;
    font-size: 12px;
    height: 32px;
}
.pc-search-wrap a {
    border-radius: 3px;
    font-size: 12px;
    height: 31px;
    display: block;
    float: right;
    line-height: 32px;
    margin-left: 10px;
    background: #22a88f;
    color: #fff;
    padding: 0 15px;
    text-decoration:none;
    cursor:pointer;
}
.pc-search-wrap a:hover {
    background: #13846f;
}
.loading-tips {
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    z-index: 9999;
    background: rgba(0,0,0,.85);
    align-items: center;
    justify-content: center;
}
.loading-tips div {
    background: #fff;
    color: #505050;
    padding: 24px 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.ah-active-icon {
    justify-content: center;
}
@media (max-width:800px) {
    .ah-active-icon {
        justify-content: initial;
    }
    .index-search-items .active {
        display: flex;
        align-items: center;
    }
    .toMap {
        width: 30px !important;
        height: 30px !important;
        padding: 3px;
        border-radius: 3px;
        left: 47px;
        top: 47px;
        background: #fff;
    }
    .toFollow {
        width: 30px !important;
        height: 30px !important;
        text-align: center;
        line-height: 30px;
    }
    .step3 {
        width: 100%;
        flex: 1 1 auto;
        padding: 0 25px;
    }
    .pc-search-wrap{
        display:none;
    }
    .index-search-items .item {
        display: initial;
        width:100%;
    }
    .index-appointment-info {
        width: 100%;
        flex: 1 1 auto;
    }
    .index-search-items .border{
        display:none;
    }
    .index-search-items .active span {
        display: block;
    }
    .index-search-items .text {
        color: #666;
        flex: 1 1 auto;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: initial;
        height: initial;
        background: none;
        padding: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        min-height: initial;
        text-align: left;
    }
    .index-search-items .pic {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 4px;
        margin-right: 12px;
        flex: none;
        width: 80px;
        height: 80px;
        position: initial;
    }
    .index-search-items .main {
        width: 100%;
        height: initial;
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 10px;
        margin: 0;
        margin-bottom: 10px;
    }
    .ah-appointmert-wrap {
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 0;
    }
    .wrap-logo{
        display:none;
    }
    .index-search-items{
        display:flex;
        padding:10px;
        flex:1 1 auto;
        flex-direction:column;
        overflow:auto;
    }
    .app-search-wrap {
        display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
        display: -moz-box; /* 老版本语法: Firefox (buggy) */
        display: -ms-flexbox; /* 混合版本语法: IE 10 */
        display: -webkit-flex; /* 新版本语法: Chrome 21+ */
        display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    }
    .index-search-items .title{
        display:block;
    }
}