@model ChkException
@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
    ViewData["Title"] = "Error";
}

<div class="container" style="text-align:center;margin-top:10%;">
    <div style="font-size:60px;color:#ff6a00;float:left;margin-right:20px;width:20%;"><i class="fa fa-remove"></i></div>
    <div style="float:left;width:80%">
        <h1 class="text-danger">出现检测错误</h1>  
        <p class="text-danger" style="text-align:left;">
            <span>错误码 : </span><i>@Model.ExceptionCode</i><br /><br />
           <span>内容：</span> @Model.Message
        </p>
        @if (Ass.P.PBool(ViewBag.IsShowBack,true))
        {
        <div style="text-align:left;margin-top:50px;">
            @if (Ass.P.PStr(ViewBag.BackLink) == "")
            {
                <a href="javascript:void(0)" onclick="history.go(-1);">返回</a>
            }
            else
            {
                <a href="@ViewBag.BackLink">@ViewBag.BackLinkName</a>
            }
        </div>
        }
    </div>

</div>