@{
    Layout = null;
}
<style>
    .not-data-wrap {
        background-image: url('../../images/not-data2.png');
        width: 231px;
        height: 335px;
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 0 auto;
        padding-top: 50px;
        background-position-y: 50px;
    }
</style>
<div class="ah-flex ah-align-center ah-justify-content">
    <i class="fa fa-warning"></i>
    <h3>没有权限</h3>  
</div>
<a href="javascript:void(0)" onclick="history.go(-1);">返回</a>
