@model CHIS.Models.ViewModel.ChangeLoginInfo
@{
    ViewBag.Titel = "身份证号和密码修改";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}

@section links {
    <style>
        .content {
            width: 990px;
            margin: 0 auto;
            padding: 30px 0;
        }

        .info-box {
            margin: 50px auto;
            width: 740px;
            padding: 20px;
            border: 1px solid #e3e3e3;
        }

        .title {
            width: 700px;
            height: 30px;
            border-bottom: 1px solid #e3e3e3;
            margin: 0 auto;
        }

        form {
            margin: 0 auto;
            width: 400px;
            padding: 40px 30px;        
        }

        input {
            width: 280px;
            margin-top: 20px;
            border-radius: 5px;
            border: 1px solid rgb(220,220,220);
            height: 40px;
            width: 340px;
            font-family: "PT Sans",Helvetica,Arial,sans-serif;
            font-size: 14px;
            padding-left: 10px;
        }

        button {
            margin-top: 20px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid rgb(220,220,220);
        }
    </style>
}

<div class="container">
    <div class="content">
        <div class="info-box">
            <div class="title">
                <h4>通过身份证号和原密码修改</h4>
            </div>
            <form asp-conroller="" asp-action="" method="post">
                <input type="text" asp-for="IDCard" placeholder="输入身份证号" />
                <br />
                <input type="password" asp-for="MyPswd" placeholder="输入原密码" onblur="checkPassword(this)" />
                <input type="password" placeholder="输入新密码" />
                <button type="submit" style="width: 120px;">确定</button>
                <button type="button" style="width: 120px;margin-left:95px;">返回</button>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>


    </script>
}
