@using Ass;
@model CHIS.Models.vwCHIS_Sys_Login
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var umgr = this.GetUserMgr();
    var ulogin = umgr.GetMyLoginData();
}

@section links{

}
<div class="ah-max-width">
    <div class="ah-changepas-wrap">
        <div class="ah-changepas-title">请选择更改方式</div>
        <div class="ah-changepas-type ah-flex">
            <div class="ah-col-md3 ah-changepas-items ah-changepas-state-@(ulogin.MobileIsAuthenticated)">
                @if (ulogin.MobileIsAuthenticated == true) { 
                    <a title="通过手机验证短信" asp-controller="MyPanel" asp-action="AdoptMobile">
                        <div class="ah-changepas-phone">
                            <img src="~/images/password/phone.png" />
                            <div>通过手机验证短信</div>
                        </div>
                    </a>
                }
                else
                {
                    <a title="绑定手机" href="/MyPanel/ChangeLoginInfo">
                        <div class="ah-changepas-phone">
                            <img src="~/images/password/phone.png" />
                            <div>绑定手机</div>
                        </div>
                    </a>
                }
            </div>
            <div class="ah-col-md3 ah-changepas-items ah-changepas-state-@(ulogin.EmailIsAuthenticated)">
                @if (ulogin.EmailIsAuthenticated == true)
                {
                    <a title="通过验证电子邮箱" asp-controller="MyPanel" asp-action="AdoptEmail">
                        <div class="ah-changepas-email">
                            <img src="~/images/password/email.png" />
                            <div>通过验证电子邮箱</div>
                        </div>
                    </a>
                }
                else
                {
                    <a title="绑定电子邮箱" href="/MyPanel/ChangeLoginInfo">
                        <div class="ah-changepas-email">
                            <img src="~/images/password/email.png" />
                            <div>绑定电子邮箱</div>
                        </div>
                    </a>
                }

            </div>
            <div class="ah-col-md3 ah-changepas-items  ah-changepas-state-@(ulogin.IdCardNumberIsAuthenticated)">
                 @if (ulogin.IdCardNumberIsAuthenticated == true)
                 {
                    <a title="通过身份证件及密码" asp-controller="MyPanel" asp-action="AdoptIDcard">
                        <div class="ah-changepas-iDcard">
                            <img src="~/images/password/iDcard.png" />
                            <div>通过身份证件及密码</div>
                        </div>
                    </a>
                 }
                 else
                 {
                    <a title="绑定身份证" href="/MyPanel/ChangeLoginInfo">
                        <div class="ah-changepas-phone">
                            <img src="~/images/password/iDcard.png" />
                            <div>绑定身份证</div>
                        </div>
                    </a>
                 }

            </div>
        </div>
    </div>
</div>