/CHIS/bin
/CHIS/obj
/CHIS.DbContext/bin
/CHIS.DbContext/obj
/CHIS.Models/bin
/CHIS.Models/obj
/CHIS.Models.SysAuto/bin
/CHIS.Models.SysAuto/obj
/Ass/bin
/Ass/obj
/AssBase/bin
/AssBase/obj
/CHISWeb/bin
/CHISWeb/obj
/.vs
/XUnitTestWeb/bin
/XUnitTestWeb/obj
/CHISWeb/wwwroot/css/ah-all.min.css
/CHISWeb/*.tmp
/CHIS.DAL/obj
/CHIS.DAL/bin
/CHIS.BllCaller/bin
/CHIS.BllCaller/obj
/CHIS.WebSocketService/obj
/CHIS.WebSocketService/bin
/Ah.iPharmacy/obj
/Ah.iPharmacy/bin
/Ah.Services/obj
/Ah.Services/bin
/CHISWeb/Controllers/JzTestController.cs
/.idea/.idea.CHIS
/.idea
/CHISWeb/internal-nlog.txt
.vscode/launch.json
.vscode/tasks.json
/.vscode
/CHIS.sln.DotSettings.user
