@{
    ViewBag.Title = "处方药手机填写信息";
    Layout = null;
}
<style>
    .wrap {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

        .wrap img {
            margin: 20px auto;
        }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
<div class="wrap">
    <img src="~/images/ah-pay-success.png" width="100" height="100" />
    <div>信息录入成功！</div>
</div>
