/*
    公用复写样式 最后载入
*/

 

 /*Layer 由于是动态最后载入的，所以放在最后载入复写*/

.layui-layer-btn .layui-layer-btn0,
.layui-layer-btn .layui-layer-btn0:active,
.layui-layer-btn .layui-layer-btn0:focus,
.layui-layer-btn .layui-layer-btn0:hover,
.layui-layer-btn .layui-layer-btn1,
.layui-layer-btn .layui-layer-btn1:active,
.layui-layer-btn .layui-layer-btn1:focus,
.layui-layer-btn .layui-layer-btn1:hover
 {
    font-size:14px;font-weight:bold;padding:4px 25px;height:auto;border:none;border-radius:4px;
 }


.layui-layer-btn .layui-layer-btn0,
.layui-layer-btn .layui-layer-btn0:active,
.layui-layer-btn .layui-layer-btn0:focus{
    background:#1276c1; 
}
.layui-layer-btn .layui-layer-btn0:hover{
    background:#1480d1;
}
.layui-layer-btn .layui-layer-btn1,
.layui-layer-btn .layui-layer-btn1:active,
.layui-layer-btn .layui-layer-btn1:focus{
    background:#b0b0b0;
}
.layui-layer-btn .layui-layer-btn1:hover{background:#bbb;}




.layui-layer-dialog .layui-layer-padding {
    padding-bottom:40px;
}
.layui-layer-title{text-align:left;}


.layui-layer-setwin .layui-layer-close2 {right: -24px;top: -24px;}


/*ah-layer*/
.ah-layer-err{border:none;background-color:rgba(245, 26, 26, 0.64);color:white;}
.ah-layer-err .layui-layer-ico{background: rgba(0, 0, 0, 0) url("/images/layer-icon.png") no-repeat scroll 0 0;}
.ah-layer-err .layui-layer-ico2{ background-position: -60px 0;}

.ah-layer-ok{border:none;background-color:rgba(16, 114, 12, 0.79);color:white;}
.ah-layer-ok .layui-layer-ico{background: rgba(0, 0, 0, 0) url("/images/layer-icon.png") no-repeat scroll 0 0;}
.ah-layer-ok .layui-layer-ico2{ background-position: -30px 0;}
.layui-layer-btn a{padding: 0 40px !important;}
/*.layui-form input[type="checkbox"], .layui-form input[type="radio"],*/
.layui-form select {
    display: block;
    height: 0;
    width: 1px;
    overflow: hidden;
    padding: 0;
    border: none;
}


.layui-textarea {    min-height: 48px;}