@{
    ViewBag.Title = "心理专题";
}
@section links{
    
}
<img class="psy-bj" src="~/images/home(2).jpg" />
<div class="sub-float" onclick="foot()" style="opacity: 1;">
    <img src="/HealthMgr/img/bottom_icon.png">
</div>
<div class="psychology-title">
    关爱心理，更关心你
</div>
<div class="psychology-content">
    <div class="content">
        <div class="text-title">术语解释</div>
        <div class="bowknot-wrap">
            <img src="~/HealthMgr/img/psychology.png" />
        </div>
        <div class="text-wrap">
            <span class="keyword">心理疾病</span>，是指一个人由于精神上的紧张，干扰，而使自己思维上、情感上和行为上，发生了偏离社会生活规范轨道的现象。心理和行为上偏离社会生活规范程度越厉害，心理疾病也就愈严重。长期过度紧张可能会导致一系列的心理疾病。长期处于这种状态可能使人产生精神病变。
        </div>
    </div>
    <div class="content">
        <div class="text-title">疾病现状</div>
        <div class="bowknot-wrap">
            <img src="~/HealthMgr/img/psychology.png" />
        </div>
        <div class="text-wrap">
            心理疾病是很普遍的，只不过存在着程度区别而已，而且现代文明的发展使人类愈发脱离其自然属性，污染、生活快节奏、紧张、信息量空前巨大、社会关系复杂、作息方式变化、消费取向差异、在公平的理念下不公平的事实拉大、溺爱等，都使心理疾病逐渐增多并恶化。心理疾病种类很多，表现各异，而且有可能出现更多的以前都没有注意到，或已经合理化（不认为是心理疾病）。随着时代变化新发现的心理疾病也不少。
        </div>
    </div>
    <div class="content">
        <div class="text-title">疾病诱因</div>
        <div class="bowknot-wrap">
            <img src="~/HealthMgr/img/psychology.png" />
        </div>
        <div class="text-wrap">
            <p>1、超负荷的工作压力</p>
            很多都市白领被高强度的工作压力所困，长期处于高度紧张的状态下，且常常得不到及时的调理，久而久之便会产生焦虑不安、精神抑郁等症状，重则诱发心理障碍或精神疾病。
            <p>2、感情与家庭的变故</p>
            失恋无疑是很痛苦的情感体验，失恋的一方会因对感情的难以割舍而痛苦不已，失落感会加重心理失衡的程度，有些人因此产生心理障碍甚至是不理性的过激行为，给对方和自己造成难以弥补的伤害。
            另外，对于离婚后的受损方，尤其是女性，往往经受不住家庭解体的打击，造成心理伤害。一项相关调查表明，目前我国离婚人群中，感到心理压力过重的约占70%，这一群体非常需要心理支持与帮助。
            <p>4、生活贫困加重心理压力</p>
            这一群体主要是下岗职工和高校的贫困生。一些下岗职工观念一时难以转换，对家政、建筑等工作不屑一顾，因而形成“高不成、低不就”的尴尬局面。心理压力与生活压力的双重作用极易导致心理疾患，甚至造成家庭破裂。
            而对于迈入高等学府的有些贫困生而言，一方面是经济状况的窘迫，一方面是虚荣心的作祟，这种现实会加剧矛盾心理，使这些贫困生心理疾患的概率增高。
            <p>5、投资受损后无法承受</p>
            人们的投资意识不断增强，但当长期的投入没有得到期望的回报或资本严重亏损时，难免造成人们心理失衡。强烈的挫败感、情绪的剧烈波动、巨额资金的流失，极可能摧垮一个人的心理防线，有的人甚至因此而轻生。
            <p>6、难以适应社会发展</p>
            现代社会飞速发展、瞬息万变，有些人却因种种原因而难以适应。这种不适应包括很多方面：对社会的不公平现象看不惯，又因自己无力改变现状而郁闷、烦躁；对单位里的分配不均看不惯，为自己的报酬偏低而愤愤不平；因信仰的苍白而产生失落感、无归属感；因个人技能与现代化的差距而焦急、无奈等等。上述这些可导致人们产生“心病”。
            <p>7、老年人缺乏精神关爱</p>
            我国绝大部分老年人的物质生活基本得以满足，但他们的精神生活和心理需求却未必尽如人意。老人晚年失爱已成为不容忽视的问题，这是引发老年人心理问题的重要诱因。
        </div>
    </div>
    <div class="content">
        <div class="text-title">心理康复</div>
        <div class="bowknot-wrap">
            <img src="~/HealthMgr/img/psychology.png" />
        </div>
        <div class="text-wrap">
            心理康复是运用系统的心理学理论与方法，从生物-心理-社会角度出发，对患者的损伤、残疾和残障问题进行心理干预，以提高残疾患者的心理健康水平。心理康复对于帮助残疾人恢复身体功能、克服障碍，以健康的心理状态充分平等地参与社会生活具有十分重要的意义。这种意义主要体现在以下三个方面： 第一，由于身体或心理原因而出现的人格变化，这种变化可能会伴随其后的人生历程。人格变化可能导致生活危机或其它精神危机，需要心理干预才能使患者能够面对现实和未来发展。因此心理康复扮演着重要的角色。
        </div>
    </div>
    <div class="foot">
        如果需要更详细的预防及就医指导，可以去预约医生进行治疗。
        <a href="@(Global.ConfigSettings.CustomerLoginPath)">去预约</a>
        <div class="clear"></div>
    </div>
</div>



@section scripts{
    <script>
        $(function () {
            newScroll();
            $(window).scroll(function () {
                newScroll();
            });
        });
        function foot() {
            var h = $(document).height() - $(window).height();
            $(document).scrollTop(h);
        }
        function newScroll() {
            if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
                $(".sub-float").css("opacity", "0");
            } else {
                $(".sub-float").css("opacity", "1");
            }
        }
    </script>
}
