/*
    此css文件是对第三方控件样式的覆盖
    bootstrap 样式覆盖
*/


 
.btn-primary,.btn-primary:active,.btn-primary:focus{
    background:#1276c1;font-size:14px;font-weight:bold;
}
.btn-primary:hover{
    background:#1480d1;font-size:14px;font-weight:bold;;
}
.btn-default,.btn-default:active,.btn-default:focus{
    background:#fff;font-size:14px;border:1px solid #adadad;
}
.btn-default:hover{background:#adadad;font-size:14px;border:1px solid #8c8c8c;}

.btn[disabled],.btn[disabled]:hover{
    background:#ccc;border:none;
}
.btn-link:hover{text-decoration:none;}
@media (min-width:1200px){
    .container {
        width:100%;
    }
}
@media(min-width:920px){
     .container {
        width:100%;
    }
}
@media(min-width:780px){
     .container {
        width:100%;
    }
}

.form-group label.error{
    color:red;font-weight:normal;float:left;
}



/*Select2*/
.select2-container--default .select2-selection--single {
    border: 1px solid #bbb;
    border-radius: 4px!important;
}
.select2-container .select2-selection--single {
    height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

