@{
    ViewBag.Title = "发药清单";
    ViewBag.FuncId = 2123;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@inject CHIS.Code.Managers.IMyRazor myRazor


@section links{
    <link href="~/css/pages/chis-pharmacy.css" rel="stylesheet" />
    <style></style>
}
<div ah-tools="wrap" class="ah-max-width">
    <div class="ah-tools">
        <div class="ah-tool-wrap">
            <input class="ah-text-blut" type="text" ame="searchText" ah-id="searchText" placeholder="患者姓名/手机号/回单号" value="@(Context.Request.Query["searchText"])" />
            <button class="ah-btn-blue" onclick="SEARCH.addSearchText();">搜索</button>
        </div>
        <div class="ah-tool-wrap">
            <a class="ah-tool-more-btn" onclick="ahTools(this)">高级搜索项</a>
        </div>
    </div>
    <div id="J_selector" class="selector ah-tool-more">
        <div class="search-conditions" id="search_items">
            <div class="title">
                已选：
            </div>
            <div class="sel-items">

            </div>
        </div>
        <div class="J_selectorLine s-brand">
            <div class="sl-wrap">
                <div class="sl-key" title-key="TimeRange"><strong>发药时间段：</strong></div>
                <div class="sl-value">
                    <div class="clr"></div>
                    <div class="sl-v-list">
                        <section class="section-inline">
                            <label class="radio-inline"><input type="radio" ah-radio="false" name="TimeRange" class="ah-search-radio" value="Today" /><span class="ah-def-active">当日</span></label>
                            <label class="radio-inline"><input type="radio" ah-radio="false" name="TimeRange" class="ah-search-radio" value="ThisWeek" /><span>本周</span></label>
                            <label class="radio-inline"><input type="radio" ah-radio="false" name="TimeRange" class="ah-search-radio" value="ThisMonth" /><span>本月</span></label>
                            <label class="radio-inline"><input type="radio" ah-radio="false" name="TimeRange" class="ah-search-radio" value="ThisQuarter" /><span>本季</span></label>
                            <label class="radio-inline"><input type="radio" ah-radio="false" name="TimeRange" class="ah-search-radio" value="ThisYear" /><span>本年</span></label>
                        </section>

                        <section class="section-inline ah-search-input">
                            <div class="section-more-wrap">
                                <input type="text" name="dt0" name-title="开始时间" class="ah-input-date ah-date" placeholder="开始时间" asp-format="{0:yyyy-MM-dd HH:mm}" data-format="yyyy-mm-dd" />
                                至
                                <input type="text" name="dt1" name-title="结束时间" class="ah-input-date ah-date" placeholder="结束时间" asp-format="{0:yyyy-MM-dd HH:mm}" data-format="yyyy-mm-dd" />
                                <button class="ah-btn-blue" type="button">确定</button>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="sl-ext">
                    <a class="sl-e-more J_extMore" href="javascript:;" style="visibility: visible;">更多<i></i></a>
                </div>
            </div>

        </div>

        <div class="J_selectorLine s-brand">
            <div class="sl-wrap">
                <div class="sl-key" title-key="SupplierId"><strong>类别：</strong></div>
                <div class="sl-value">
                    <div class="clr"></div>
                    <div class="sl-v-list">
                        <section class="section-inline">                    
                            <label class="radio-inline"><input type="radio" ah-radio="false" name="SupplierId" class="ah-search-radio" value="3" /><span class="ah-def-active">健客</span></label>
                        </section> 
                    </div>
                </div>              
            </div>
        </div>


        <div class="J_selectorLine s-brand">
            <div class="sl-wrap">
                <div class="sl-key" title-key="contactName"><strong>收货人：</strong></div>
                <div class="sl-value">
                    <div class="clr"></div>
                    <div class="sl-v-list">
                        <section class="section-inline ah-search-input">
                            <input type="text" name="contactName" name-title="" class="ah-text-blut" placeholder="姓名/手机号" />
                            <button class="ah-btn-blue">确定</button>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ah-table-wrap" ah-id="OUT-TABLE"></div>
    <div class="ah-page-wrap" id="pager"></div>
</div>



@section scripts{
    <script src="~/lib/xdate.js"></script>
    <script src="~/js/pages/dispensing-drug-out-list.js"></script>
    <script src="~/js/ah-common-search.js"></script>
    <script src="~/js/pages/dispensing-com.js"></script>
    <script>
        SEARCH.searchMain = "OUT-TABLE";//搜索结果存放区域
        SEARCH.searchUrl = "/Dispensing/LoadNetOrderList"; //设置搜索的请求地址
        SEARCH.search(1);
    </script>
}