@model ah.Models.ViewModel.AHMSLoginAccountViewModel
@{
    Layout = "~/Areas/HealthMgr/Views/Shared/_LayoutBackPanel.cshtml";
}
@section links{
    <style>
        .validation-summary-errors{color:red;}
    </style>
}
 
<div class="main-title">
    <i class="glyphicon glyphicon-th-list"></i>干预平台
</div>
<div class="main-content">
    <img src="~/HealthMgr/img/test1.png" />
</div>



@section scripts{
    <script>
        $(function () {
           
        });      
    </script>
}
